<!-- views/partials/header.js -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="fa fa-2x fa-mail"></span>
                Chattr
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <% if (user){ %>
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
        </ul>

    </div>
</nav>