<!-- views/chat.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
    <script type="text/javascript" src="static/js/chat.js"></script>
</head>
<body class="container">
<header>
    <% include partials/navbar.ejs %>
</header>
<main>
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <p class="content">

                <h1 class="title">Chatter Socket.io</h1>

                <p class="content">
                    This is sample of WAMP - Web Application Messaging protocol, download client side android
                    application
                    from <a
                            href="https://github.com/LordK1/SocketChatApplication/blob/master/app/app-release.apk?raw=true">
                        here </a> and
                    fire up
                    chatting :") <br><br>
                </p>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <h1>Look i'm a Sidebar for What ?!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <h3>Latest Messages :</h3>
            <hr>
            <div id="messages">

            </div>

            <hr>
            <form class="new-message form-control" onsubmit="return chatSendNewMessage(this);">
                <div class="username">
                    <input type="text" id="username" placeholder="Your User Name" value="Guest" required="">
                </div>
                <div class="message-input">
                    <textarea type="text" id="message" placeholder="Enter a Message" required="" value=""></textarea>
                </div>
                <input class="sendMessageButton" type="submit" name="submit" value="Send !">

            </form>
        </div>
    </div>
</main>
<footer>
    <% include partials/footer.ejs %>
</footer>
</body>
</html>