<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
    <script type="text/javascript" src="static/js/app.js"></script>
</head>
<body class="container">
<header>
    <% include partials/navbar.ejs %>
</header>
<main>
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1 class="title">Home Socket.io</h1>

                <p class="content">
                    This is sample of PubSub - Publisher/Subscriber protocol, open up this page with other browser or
                    tab to see
                    what
                    happen here !!! <br><br>
                    And Now For chat with android client side application (You can download it <a
                            href="https://github.com/LordK1/SocketChatApplication/blob/master/app/app-release.apk?raw=true">here</a>
                    ) go to
                    <a
                            href="/chat.html">
                        here </a> !!!
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <%= tagline %>
                <ul>
                    <% drinks.forEach(function (drink) { %>
                    <li><%= drink.name %> - <%= drink.drunkness %> </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Latest Messages :</h3>
            <hr>
            <div class="col-md-8" id="messages"></div>
            <hr>
            <div class="col-md-4">
                <form onsubmit="return addMessage(this);">
                    <fieldset class="form-group">
                        <label for="username">Username : </label>
                        <input type="text" class="form-control" id="username" value="Guest" name="username">
                        <small class="text-muted">Enter your Username here.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="link">Username : </label>
                        <input type="text" class="form-control" id="link" name="link">
                        <small class="text-muted">Enter your message link here.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="content">Message : </label>
                        <textarea class="form-control" id="content" name="content" rows="4"></textarea>
                        <small class="text-muted">Enter your message content here.</small>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <% include partials/footer.ejs %>
</footer>

</body>
</html>